// colors

$primary-background:#000000;
$secondary-background:#333333;

$primary-hover-background:#ffffff;
$primary-hover-color:#000000;

$primary-border:#ffffff;
$secondary-border:#000000;

$primary-color:#ffffff;
$secondary-color:#000000;

$btn-background:#ffffff;
$extra-color: #d6d661;
// fonts

$primary-font:sans-serif;

// links
$link-color: blue;

.link{
    text-decoration: none;
    color: $primary-color;
}

// default

*{
    padding: 0;
    margin: 0;
    text-align: center;
}