// background colors

$base-background : #000000;
$btn-background : #D9C9C9;
$second-background:#333333;
$third-background : #684C4C;
$hover-backgroud : #48bf61;

// font colors
$base-color : #ffffff;

// default styles

.link{
    text-decoration: none;
    color: #ffffff;
}