@import '../../App.scss';

.opt-card{
    background-color: $third-background;
    width: 250px;
    border-radius: 5px;
    // padding: .5rem 1rem;
    .opt{
        color:$main-color;
        text-align: center;
        padding: .5rem;
        cursor: pointer;
        transition: all .4s;
    }
    .opt:hover{
        background-color: $second-background;
        border-radius: 3px;
    }
}

.card{
    background-color: $third-background;
    border-radius: 9px;
    width: 250px;   
    // height: 375px;
    .img{
        width: 250px;
        height: 250px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .content{
        // height: 125px;
        border-radius: 0 0 9px 9px;
        background-color: $second-background;
        color: $main-color;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        transition: all .4s;
        // padding: 1rem;
        opacity: .8;
        .data{
            // margin-bottom: 1rem;
            padding: .5rem 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .name{
                font-variant: small-caps;
                font-size: 1.4rem;
                font-weight: 500;
            }
            .score{
                color: $extra-color;
                font-weight: 600;
                span{
                    font-size: .9rem;
                }
            }
        }
        .choice{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 1rem;
            cursor: pointer;
            .opt{
                width: 100%;
                text-align: center;
                padding: .5rem 0;
                background-color: $btn-background;
                color: $btn-color;
                border-radius: 5px;
            }

        }
        .status{
            display: flex;
            justify-content: center;
            align-items: flex-end;
            padding: .5rem 1rem;
            font-size: .9rem;
            .submit{
                width: fit-content;
               cursor: pointer;
            }
        }
    }
    .content:hover{
        opacity: 1;
    }
}