@import '../../App.scss';

.vote-body{
    background-color: $base-background;
    background-image: url(../../assets/img/home-gif3.gif);
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    .opts{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 3rem;
        .btns{
            display: flex;
            justify-content: space-around;
            width: 30%;
            align-items: center;
        }
    }
    .cards{
        display: flex;
        justify-content: space-evenly;
        margin: 2rem 2rem;
    }
}