@import '../../App.scss';

.btn{
    background-color: $btn-background;
    padding: .5rem 1rem;
    font-weight: 600;
    border: solid $primary-border 2px;
    border-radius: 3px;
    cursor: pointer;
    .link{
        color: black;
    }
}