@import '../../App.scss';

.join-page{
    background-color: $base-background;
    background-image: url(../../assets/img/home-gif3.gif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    display: grid;
    place-items: center;
    .join-form{
        width: 70vw;
        height: 70vh;
        background-color: $third-background;
        opacity: .8;
        display: grid;
        grid-template-columns: .4fr .6fr;
        .image-data{
            display: grid;
            place-items: center;
            canvas{
                width: 300px;
                height: 300px;
                background-color: #ffffff;
                border-radius: 5px;
            }
        }
        .other-data{
            display: grid;
            place-items: center;
            .input-wrapper{
                display: grid;
                place-items: center;
                width: 70%;
                input{
                    padding: .5rem;
                    border-radius: 5px;
                    border: solid $second-background 2px;
                    width: 100%;
                    margin-top: 2rem;
                    font-size: 1rem;
                }
            }
            .btn-wrapper{
                display: flex;
                justify-content: center;
                align-items: flex-start;
                width: 100%;
                height: 100%;
                .btn{
                    // margin-bottom: 3rem;
                    margin: 0 2rem;
                    padding: 0.5rem 1rem;
                    background-color: $btn-background;
                    border-radius: 3px;
                    font-weight: 600;
                    cursor: pointer;
                }
            }
        }
    }
}